<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>

    <%- contents %>


    <footer class="footer">
      <div class="container">
     
          <h2>Contact</h2>
          <ul>
          <li class="pb-16">Mail：<a href="xxxd@hexschool.com">xxxd@hexschool.com</a></li>
          <li class="pb-64">Phone Number：<a href="tel:+910123456">0910123456</a></li>
          </ul>
   
      </div>
    </div>
  </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
