/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
  font-family: "PingFangSC-Regular", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei", "Roboto", "Helvetica Neue", "sans-serif";
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,*::before,*::after{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', "PingFangSC-Regular", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei","Helvetica Neue",'Noto Sans TC', sans-serif;
  }

img{
vertical-align: middle;
  }


h2{
font-size: 64px;
line-height: 84px;
font-weight: 500;
font-style: italic;
padding-top: 56px;
}



.d-flex{
    display: flex;
  }

  .flex-wrap{
    flex-wrap: wrap;
  }

  .jcc {
    justify-content: center;
  }
  .text-a-c {
    text-align: center;
  }
  .a-items-c{
    align-items: center;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
.pr-24{
  padding-right: 24px;  
}
.pb-160{
  padding-bottom: 160px;
}
.pb-68{
  padding-bottom: 68px;
}
  .pb-64{
    padding-bottom: 64px;
  }
.pt-56{
  padding-top: 56px;
}

.pb-56{
  padding-bottom: 56px;
}
.pb-48{
    padding-bottom:48px ;
}
.pb-40{
  padding-bottom: 40px;
}
.pb-28{
  padding-bottom: 28px;
}
.pb-24{
  padding-bottom: 24px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-16{
  padding-bottom: 16px;
}
.pb-12{
  padding-bottom: 12px;
}


h3{
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: italic;
}
p{
font-size: 24px;
line-height: 42px;
font-weight: 700;
font-style: italic;
}
h4{
  font-size: 20px;
  line-height: 42px;

  font-weight: 700;
}

span{
  font-size: 24px;
  line-height: 42px;
  font-weight: 700;
  font-style: italic;
}

.banner{display: flex;
  align-items: center;
        background-image: url("../images/banner.png");
        // width: 1920px;
        height: 958px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color:#707070;
        .container{
          width: 320px;
         
          color: white;
          h1{
            font-size: 80px;
            line-height: 106px;
            font-style: italic;
            margin-bottom: 32px;
            font-weight:900;
         
            span{
              font-size: 24px;
              line-height: 42px;
              font-weight:700;
       
            
            }
              }
        
          .social{
              display: flex;
              justify-content: space-between;
              margin-bottom: 308px;
              a{
         
                :hover{
                  transform: scale(1.5)
                }
              }
          }
       }
            
  }
 
.about{
      .about-info{
       margin: 0 auto;
        width: 384px;
        border-bottom: 1px solid #000;
      }
      .about-work{
        padding-top: 28px;

          p::before{
            content:"";
            width: 22px;
            height: 22px;
            border-radius: 50%;
          background-color:#891818;
          //以下參考 natsu＃2592
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
          

        }
      }
  }
  
.myBrand{
  background-color: #000000;
  .container{
    color: white;
    h3{
      line-height: 42px;
      font-weight: 500;
      padding-bottom: 32px;
    }
    p{
      font-weight: 500;
      line-height: 30px;
    }
    .myBrand-imgs {
      flex-direction: row;
    }
  }
}

.otherWork{
padding-bottom: 144px;
  p{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
  }
}
  .footer{
      background-color: #000000;
      .container{
        text-align: center;
        font-weight: medium;
     
        h2{
          color: #ffff;
          padding-top: 64px;
          padding-bottom: 16px;
        }
        li{
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          color: white;
          font-style: italic;
          a{
            text-decoration: none;
            color: white;
            &:hover{
              color:red;
            }
           }
        }
      }
    }